.forgotPassword {
    max-width: 1230px;
    width: 100%;
    margin: auto;
    padding: 30px 0;
    .forgotPassword__content {
        .col-inner {
            .form-forgot-password {
                padding: 30px 0;
                margin-bottom: 20px;
                .form-input {
                    p {
                        margin-bottom: 8px;
                        line-height: 1.6;
                        letter-spacing: 1px;
                        @include text($color-black-3, $fs-1, $fw-bold);
                    }
                    .input-email-userName {
                        margin-bottom: 16px;
                        width: 48%;
                        text-align: left;
                        label {
                            display: block;
                            margin-bottom: 6px;
                            @include text($color-black-4, $fs-0, $fw-bold);
                        }
                        input {
                            &:focus {
                                outline: none;
                                box-shadow: 0 0 5px $color-white-3;
                            }
                            &:hover {
                                box-shadow: inset 0 -1.8em 1em 0 rgba(0, 0, 0, 0);
                            }
                            width: 100%;
                            padding: 0 12px;
                            border-radius: 0;
                            border: 1px solid $color-white-2;
                            height: 40px;
                            vertical-align: middle;
                            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                            @include text($color-black-0, $fs-0, $fw-medium);
                        }
                    }
                    .button-reset-password {
                        .btn-reset-password {
                            &:hover {
                                box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2)
                            }
                            width: 15%;
                            text-align: left;
                            display: inline-block;
                            transition: all 1s;
                            background: $color-brown-3;
                            text-transform: uppercase;
                            text-align: center;
                            border: 1px solid transparent;
                            vertical-align: middle;
                            height: 40px;
                            line-height: 38px;
                            padding: 0 20px;
                            margin: 0 16px 16px 0;
                            @include text($color-white-0, $fs-1, $fw-bold);
                        }
                    }
                }
            }
        }
    }
}