.payment {
    max-width: 1230px;
    width: 100%;
    margin: auto;
    padding: 30px 0;
    .payment__content {
        .form-login-toggle {
            padding-bottom: 8px;
            p {
                margin: 0;
                line-height: 1.6;
                @include text($color-black-3, $fs-1, $fw-medium);
                button {
                    margin-left: 5px;
                    background: none;
                    border: none;
                    outline: none;
                    text-decoration: none;
                    @include text($color-black-3, $fs-1, $fw-medium);
                }
            }
            .form-login {
                display: none;
                margin-bottom: 20px;
                line-height: 1.6;
                p {
                    display: block;
                    margin-bottom: 8px;
                    @include text($color-black-3, $fs-1, $fw-medium);
                }
                .login-content {
                    margin-bottom: 15px;
                    .row--modifier {
                        margin: 0;
                        .col--modifier {
                            padding: 0 50px 8px 0;
                            label {
                                display: block;
                                margin-bottom: 6px;
                                @include text($color-black-4, $fs-0, $fw-bold);
                            }
                            input {
                                &:focus {
                                    outline: none;
                                    box-shadow: 0 0 5px $color-white-3;
                                }
                                &:hover {
                                    box-shadow: inset 0 -1.8em 1em 0 rgba(0, 0, 0, 0);
                                }
                                width: 100%;
                                padding: 0 12px;
                                border-radius: 0;
                                border: 1px solid $color-white-2;
                                height: 40px;
                                vertical-align: middle;
                                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                                @include text($color-black-0, $fs-0, $fw-medium);
                            }
                        }
                    }
                }
                .form-row {
                    .btn-login {
                        padding: 0 20px;
                        min-height: 40px;
                        line-height: 38px;
                        letter-spacing: 0.48px;
                        margin-right: 16px;
                        vertical-align: middle;
                        background: $color-pink-0;
                        border-color: rgba(0, 0, 0, 0.05);
                        text-transform: uppercase;
                        @include text($color-white-0, $fs-1, $fw-bold);
                    }
                    .input-remember-password {
                        input {
                            margin-right: 10px;
                            margin-bottom: 16px;
                        }
                        span {
                            @include text($color-black-4, $fs-1, $fw-bold);
                        }
                    }
                }
                .forgot-password {
                    a {
                        text-decoration: none;
                        @include text($color-black-8, $fs-1, $fw-medium);
                    }
                }
            }
        }
        .form-payment {
            .row--modifier {
                .col--modifier {
                    padding: 0 15px 30px;
                    .customer-detail {
                        border-top: 2px solid $color-white-2;
                        padding-top: 15px;
                        .form-info-billing {
                            h3 {
                                padding-top: 10px;
                                margin-bottom: 8px;
                                text-transform: uppercase;
                                @include text($color-black-0, $fs-1 + 1, $fw-bold);
                            }
                            .customer-information {
                                .form-row {
                                    .form-group {
                                        label {
                                            span {
                                                @include text($color-black-4, $fs-0, $fw-bold);
                                            }
                                            display: block;
                                            margin-bottom: 6px;
                                            @include text($color-black-4, $fs-0, $fw-bold);
                                        }
                                        input {
                                            &:focus {
                                                outline: none;
                                                box-shadow: 0 0 5px $color-white-3;
                                            }
                                            &:hover {
                                                box-shadow: inset 0 -1.8em 1em 0 rgba(0, 0, 0, 0);
                                            }
                                            width: 100%;
                                            padding: 0 12px;
                                            border-radius: 0;
                                            border: 1px solid $color-white-2;
                                            height: 40px;
                                            vertical-align: middle;
                                            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                                            @include text($color-black-0, $fs-0, $fw-medium);
                                        }
                                    }
                                }
                                .form-group {
                                    margin-bottom: 8px;
                                    label {
                                        span {
                                            @include text($color-black-4, $fs-0, $fw-bold);
                                        }
                                        display: block;
                                        margin-bottom: 6px;
                                        @include text($color-black-4, $fs-0, $fw-bold);
                                    }
                                    input {
                                        &:focus {
                                            outline: none;
                                            box-shadow: 0 0 5px $color-white-3;
                                        }
                                        &:hover {
                                            box-shadow: inset 0 -1.8em 1em 0 rgba(0, 0, 0, 0);
                                        }
                                        width: 100%;
                                        padding: 0 12px;
                                        margin-bottom: 15px;
                                        border-radius: 0;
                                        border: 1px solid $color-white-2;
                                        height: 40px;
                                        vertical-align: middle;
                                        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                                        @include text($color-black-0, $fs-0, $fw-medium);
                                    }
                                    select {
                                        &:focus {
                                            outline: none;
                                            box-shadow: 0 0 5px $color-white-3;
                                        }
                                        &:hover {
                                            box-shadow: inset 0 -1.8em 1em 0 rgba(0, 0, 0, 0);
                                        }
                                        width: 100%;
                                        padding: 0 12px;
                                        border-radius: 0;
                                        border: 1px solid $color-white-2;
                                        height: 40px;
                                        vertical-align: middle;
                                        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                                        @include text($color-black-0, $fs-0, $fw-medium);
                                    }
                                }
                            }
                        }
                        .form-info-account {
                            .create-account {
                                margin-bottom: 6px;
                                @include text($color-black-4, $fs-0, $fw-normal);
                                input {
                                    margin-right: 8px;
                                }
                            }
                            .form-create-account {
                                display: none;
                                .form-group {
                                    label {
                                        margin-bottom: 6px;
                                        @include text($color-black-0, $fs-1, $fw-bold);
                                    }
                                    input {
                                        &:focus {
                                            @include text($color-black-0, $fs-0, $fw-medium);
                                            outline: none;
                                            box-shadow: 0 0 5px $color-white-3;
                                            border: 1px solid $color-white-2;
                                        }
                                        border-radius: 0;
                                        border: 1px solid $color-red-0;
                                        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                                        @include text($color-black-0, $fs-0, $fw-medium);
                                    }
                                }
                            }
                        }
                    }
                    .order-detail {
                        padding: 15px 30px 30px;
                        border: 2px solid $color-pink-0;
                        .order-detail__content {
                            .order-review-heading {
                                padding-top: 10px;
                                text-transform: uppercase;
                                @include text($color-black-0, $fs-1 + 1, $fw-bold + 200);
                            }
                            .order-review {
                                .table-total {
                                    width: 100%;
                                    margin-bottom: 16px;
                                    thead {
                                        tr {
                                            border-bottom: 3px solid $color-white-4;
                                            th {
                                                padding: 8px;
                                                padding-left: 0;
                                                text-align: left;
                                                text-transform: uppercase;
                                                letter-spacing: 0.8px;
                                                line-height: 1.05;
                                                @include text($color-black-0, $fs-0, $fw-bold);
                                            }
                                            th:last-child {
                                                text-align: right;
                                            }
                                        }
                                    }
                                    tbody {
                                        .cart-item {
                                            @extend .border-bottom-solid;
                                            td {
                                                padding: 15px 0;
                                                letter-spacing: 1.3;
                                                text-align: left;
                                                @include text($color-black-7, $fs-0, $fw-medium);
                                            }
                                            td:last-child {
                                                text-align: right;
                                                @include text($color-black-0, $fs-0, $fw-bold);
                                            }
                                        }
                                    }
                                    tfoot {
                                        .cart-subtotal {
                                            @extend .border-bottom-solid;
                                            th {
                                                padding: 7px;
                                                padding-left: 0;
                                                text-align: left;
                                                @include text($color-black-3, $fs-0, $fw-bold);
                                            }
                                            td {
                                                text-align: right;
                                                padding: 7px;
                                                padding-right: 0;
                                                span {
                                                    @include text($color-black-0, $fs-0, $fw-bold);
                                                }
                                            }
                                        }
                                        .shipping {
                                            @extend .border-bottom-solid;
                                            th {
                                                padding: 7px;
                                                padding-left: 0;
                                                text-align: left;
                                                @include text($color-black-7, $fs-0, $fw-bold);
                                            }
                                            td {
                                                &:hover {
                                                    color: $color-black-5;
                                                }
                                                text-align: right;
                                                padding: 7px;
                                                padding-right: 0;
                                                @include text($color-black-4, $fs-0 - 1, $fw-normal);
                                            }
                                        }
                                        .order-total {
                                            border-bottom: 3px solid $color-white-4;
                                            th {
                                                padding: 7px;
                                                padding-left: 0;
                                                text-align: left;
                                                @include text($color-black-3, $fs-0, $fw-bold);
                                            }
                                            td {
                                                text-align: right;
                                                padding: 7px;
                                                padding-right: 0;
                                                span {
                                                    @include text($color-black-0, $fs-0, $fw-bold);
                                                }
                                            }
                                        }
                                    }
                                }
                                .btn-order {
                                    &:hover {
                                        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
                                    }
                                    &:focus {
                                        outline: none;
                                    }
                                    width: 100%;
                                    background: $color-brown-3;
                                    text-transform: uppercase;
                                    text-align: center;
                                    border: 1px solid transparent;
                                    vertical-align: middle;
                                    height: 40px;
                                    line-height: 38px;
                                    padding: 0 20px;
                                    margin: 0 16px 16px 0;
                                    @include text($color-white-0, $fs-1, $fw-bold);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}