.viewCart {
    max-width: 1230px;
    width: 100%;
    margin: auto;
    padding: 30px 0;
    .viewCart__content {
        .row--modifier {
            margin: 0;
            .col--border {
                border-right: 1px solid $color-white-4;
            }
            .col--modifier {
                padding: 0 30px;
                .product-list {
                    .table-product {
                        width: 100%;
                        margin-bottom: 16px;
                        border-color: $color-white-4;
                        thead {
                            tr {
                                th {
                                    padding: 8px;
                                    border-bottom: 3px solid $color-white-4;
                                    text-align: left;
                                    text-transform: uppercase;
                                    @include text($color-black-5, $fs-0, $fw-bold);
                                }
                                th:first-child {
                                    padding-left: 0;
                                }
                            }
                        }
                        tbody {
                            .border-bottom {
                                @extend .border-bottom;
                            }
                            .product-item {
                                td {
                                    padding: 15px 0;
                                    text-align: left;
                                    line-height: 1.3;
                                    @include text($color-black-7, $fs-0 + 1, $fw-bold);
                                }
                                .product-remove {
                                    width: 20px;
                                    padding: 0;
                                    a {
                                        &:hover {
                                            color: $color-black-5;
                                        }
                                        display: block;
                                        width: 24px;
                                        height: 24px;
                                        line-height: 19px;
                                        text-align: center;
                                        text-decoration: none;
                                        transition: all 1s;
                                        border-radius: 100%;
                                        border: 2px solid currentColor;
                                        @include text($color-white-3, $fs-0 + 1, $fw-bold);
                                    }
                                }
                                .product-thumbnail {
                                    width: 100px;
                                    a {
                                        text-decoration: none;
                                        img {
                                            max-width: 80px;
                                            width: 100%;
                                            height: 80px;
                                            object-fit: cover;
                                            object-position: center center;
                                            opacity: 1;
                                            transition: opacity 1s ease 0s;
                                        }
                                    }
                                }
                                .product-price {
                                    .amount {
                                        color: $color-black-5;
                                        font-weight: 700;
                                    }
                                }
                                .product-quantity {
                                    .quantity {
                                        display: flex;
                                        text-align: center;
                                        .btn-quantity {
                                            &:hover {
                                                color: $color-black-5;
                                                background: $color-white-1;
                                            }
                                            &:focus {
                                                outline: none;
                                            }
                                            width: 20px;
                                            height: 35px;
                                            background-color: $color-white-0;
                                            border: 1px solid $color-white-2;
                                            box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
                                        }
                                        .number-quantity {
                                            &:focus {
                                                outline: none;
                                            }
                                            text-align: center;
                                            width: 35px;
                                            height: 35px;
                                            border: none;
                                            border-top: 1px solid $color-white-2;
                                            border-bottom: 1px solid $color-white-2;
                                        }
                                    }
                                }
                                .product-subtotal {
                                    .amount {
                                        color: $color-black-5;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                    .btn-cart {
                        .btn-cart__content {
                            a {
                                &:hover {
                                    background: $color-pink-0;
                                    color: $color-white-0;
                                }
                                width: 100%;
                                transition: all 1s;
                                text-decoration: none;
                                text-transform: uppercase;
                                border: 2px solid $color-pink-0;
                                background: $color-white-0;
                                padding: 8px 35px;
                                margin: 0 14px 14px 0;
                                line-height: 2.9em;
                                @include text($color-pink-0, $fs-0, $fw-bold);
                            }
                            .update-cart {
                                &:hover {
                                    outline: none;
                                    background: $color-pink-0;
                                    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
                                }
                                transition: all 1s;
                                text-transform: uppercase;
                                padding: 6px 25px;
                                margin: 0 14px 14px 0;
                                background: $color-pink-1;
                                border-color: rgba($color: #000000, $alpha: 0.05);
                                @include text($color-white-0, $fs-0, $fw-bold);
                            }
                        }
                    }
                }
                .form-pay {
                    .cart-totals {
                        p {
                            padding: 8px 0;
                            text-transform: uppercase;
                            text-align: left;
                            border-bottom: 3px solid $color-white-4;
                            @include text($color-black-5, $fs-0 + 1, $fw-bold);
                        }
                        .table-total {
                            width: 100%;
                            margin: 16px 0;
                            .cart-subtotal {
                                th {
                                    text-transform: inherit;
                                    text-align: left;
                                    line-height: 1.05;
                                    padding: 8px;
                                    padding-left: 0;
                                    @include text($color-black-3, $fs-0 + 1, $fw-normal);
                                }
                                td {
                                    text-align: right;
                                    padding: 8px;
                                    padding-right: 0;
                                    span {
                                        @include text($color-black-5, $fs-0 + 1, $fw-bold);
                                    }
                                }
                            }
                            .shipping {
                                th {
                                    text-transform: inherit;
                                    text-align: left;
                                    line-height: 1.05;
                                    padding: 8px;
                                    padding-left: 0;
                                    @include text($color-black-3, $fs-0 + 1, $fw-normal);
                                }
                                .shipping-inner {
                                    display: flex;
                                    justify-content: flex-end;
                                    padding: 8px;
                                    .shipping-table {
                                        margin: 0;
                                        text-align: right;
                                        tr {
                                            th {
                                                text-transform: inherit;
                                                text-align: left;
                                                line-height: 1.05;
                                                padding: 8px;
                                                padding-left: 0;
                                                @include text($color-black-3, $fs-0 + 1, $fw-normal);
                                            }
                                            td {
                                                text-align: right;
                                                p {
                                                    padding: 6px 0;
                                                    padding-right: 0;
                                                    text-align: right;
                                                    text-transform: inherit;
                                                    border: none;
                                                    @include text($color-black-4, $fs-0 - 1, $fw-normal);
                                                }
                                                p:first-child {
                                                    &:hover {
                                                        color: $color-black-5;
                                                    }
                                                    margin: 0;
                                                }
                                                p:nth-child(2) {
                                                    padding: 0;
                                                    margin: 7px 0;
                                                    strong {
                                                        color: $color-black-7;
                                                    }
                                                }
                                                .shipping-method {
                                                    margin-top: 8px;
                                                    .shipping-method__btn {
                                                        &:hover {
                                                            color: $color-black-5;
                                                        }
                                                        &:focus {
                                                            #shipping-method__address {
                                                                display: block;
                                                            }
                                                        }
                                                        cursor: pointer;
                                                        text-decoration: none;
                                                        text-transform: inherit;
                                                        @include text($color-black-4, $fs-0 - 1, $fw-normal);
                                                        .shipping-method__address {
                                                            display: none;
                                                            width: 350px;
                                                            background: rgba($color: #000000, $alpha: 0.03);
                                                            padding: 15px 15px 10px;
                                                            border-radius: 5px;
                                                            margin-top: 5px;
                                                            p:last-child {
                                                                padding: 0;
                                                            }
                                                            p {
                                                                text-align: left;
                                                                margin: 8px 0;
                                                                select {
                                                                    &:focus {
                                                                        outline: none;
                                                                    }
                                                                    width: 100%;
                                                                    box-shadow: inset 0 -1.4em 1em 0 rgba(0, 0, 0, 0.02);
                                                                    background: $color-white-0;
                                                                    border: 1px solid $color-white-2;
                                                                    padding: 0 10px;
                                                                    vertical-align: middle;
                                                                    height: 32px;
                                                                    @include text($color-black-5, $fs-0 + 1, $fw-medium);
                                                                }
                                                                input {
                                                                    &:focus {
                                                                        outline: none;
                                                                        box-shadow: 0 0 5px $color-white-3;
                                                                    }
                                                                    width: 100%;
                                                                    width: 100%;
                                                                    box-shadow: inset 0 -1.4em 1em 0 rgba(0, 0, 0, 0.02);
                                                                    background: $color-white-0;
                                                                    border: 1px solid $color-white-2;
                                                                    padding: 0 10px;
                                                                    vertical-align: middle;
                                                                    height: 32px;
                                                                    @include text($color-black-5, $fs-0 + 1, $fw-medium);
                                                                }
                                                                .btn-update-address {
                                                                    &:hover {
                                                                        outline: none;
                                                                        background: $color-pink-0;
                                                                        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
                                                                    }
                                                                    transition: all 1s;
                                                                    text-transform: uppercase;
                                                                    width: 100%;
                                                                    min-height: 40px;
                                                                    padding: 0 15px;
                                                                    margin-bottom: 16px;
                                                                    background: $color-pink-0;
                                                                    border-color: rgba($color: #000000, $alpha: 0.05);
                                                                    @include text($color-white-0, $fs-0, $fw-bold);
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .order-total {
                                border-bottom: 3px solid $color-white-4;
                                th {
                                    text-transform: inherit;
                                    text-align: left;
                                    line-height: 1.05;
                                    padding: 8px;
                                    padding-left: 0;
                                    @include text($color-black-3, $fs-0 + 1, $fw-normal);
                                }
                                td {
                                    text-align: right;
                                    padding: 8px;
                                    padding-right: 0;
                                    span {
                                        @include text($color-black-5, $fs-0 + 1, $fw-bold);
                                    }
                                }
                            }
                        }
                        .procced-with-payment {
                            width: 100%;
                            .btn-payment {
                                &:hover {
                                    outline: none;
                                    background: $color-pink-3;
                                    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
                                }
                                display: block;
                                transition: all 1s;
                                text-transform: uppercase;
                                text-decoration: none;
                                text-align: center;
                                padding: 10px 0;
                                margin-bottom: 16px;
                                background: $color-pink-2;
                                border-color: rgba($color: #000000, $alpha: 0.05);
                                @include text($color-white-0, $fs-0, $fw-bold);
                            }
                        }
                    }
                }
            }
        }
    }
}