$fs-0: 14px;
$fs-1: 16px;
$fs-2: 18px;
$fs-3: 20px;
$fs-4: 22px;
// font weight
$fw-normal: normal;
$fw-bold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;
// margin
$mg-0: 5px;
// padding
$pd-0: 5px;
// color
$color-black-0: #333333;
$color-black-1: #1c1c1c;
$color-black-2: #3a3a3a;
$color-black-3: #353535;
$color-black-4: #222;
$color-black-5: #000;
$color-black-6: #444444;
$color-black-7: #666;
$color-black-8: #334862;
$color-white-0: #fff;
$color-white-1: #f1f1f1;
$color-white-2: #ddd;
$color-white-3: #ccc;
$color-white-4: #ececec;
$color-white-5: #f9f9f9;
$color-brown-0: #c89979;
$color-brown-1: #a07a61;
$color-brown-2: #a07a61;
$color-brown-3: #d26e4b;
$color-brown-4: #a8583c;
$color-blue-0: #0072b7;
$color-blue-1: #3b6994;
$color-blue-2: #2478ba;
$color-blue-3: #2e467e;
$color-blue-4: #3a589d;
$color-blue-5: #1e659c;
$color-blue-6: #334862;
$color-red-0: #b20000;
$color-pink-0: #c89979;
$color-pink-1: #C6AFA0;
$color-pink-2: #d26e4b;
$color-pink-3: #A8583C;
$color-orange-0: #fc7600;
$color-orange-1: #ca5e00;
// line height
$lh-0: 1.2;
// break points
$breakpoints: ( "extra-large": 1200px, "large": 992px, "medium": 768px, "small": 576px, );