.footer {
    padding: 30px 0;
    background: rgb(51, 51, 51);
    .footer__content {
        max-width: 1230px;
        width: 100%;
        margin: auto;
        padding-top: 40px;
        .col-3--modifier {
            padding: 0 15px 30px;
            .col-inner {
                h3 {
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    @include text($color-white-0, $fs-3, $fw-bold + 100);
                }
                .contactInformation {
                    display: flex;
                    .icon-box-image {
                        i {
                            color: $color-white-1;
                            font-size: $fs-1;
                            padding-top: 3px;
                        }
                    }
                    .icon-box-text {
                        padding-left: 16px;
                        span {
                            @include text($color-white-0, $fs-0, $fw-medium);
                        }
                        a {
                            text-decoration: none;
                            @include text($color-white-0, $fs-0, $fw-normal);
                        }
                    }
                }
                .social {
                    display: flex;
                    a {
                        position: relative;
                        border-radius: 50%;
                        display: inline-block;
                        background: $color-blue-0;
                        width: 40px;
                        height: 40px;
                        margin: 20px 10px 14px 2px;
                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: $color-white-0;
                            font-size: $fs-1;
                        }
                    }
                    a:nth-child(1) {
                        background: $color-blue-4;
                    }
                    a:nth-child(2) {
                        background: $color-blue-1;
                    }
                    a:nth-child(3),
                    a:nth-child(4) {
                        background: $color-blue-5;
                    }
                    a:nth-child(4) {
                        background: $color-orange-0;
                    }
                }
            }
            .col-link {
                .link-inner {
                    .menu-link {
                        margin: 0;
                        .menu-item {
                            list-style: none;
                            margin-bottom: 5px;
                            a {
                                @include text($color-white-0, $fs-0, $fw-medium);
                                text-decoration: none;
                                padding: 6px 0;
                                transition: all 1s;
                                &:hover {
                                    color: $color-pink-0;
                                }
                            }
                        }
                    }
                }
            }
            .col-support {
                .support-inner {
                    .menu-support {
                        margin: 0;
                        .menu-item {
                            list-style: none;
                            margin-bottom: 5px;
                            a {
                                @include text($color-white-0, $fs-0, $fw-medium);
                                text-decoration: none;
                                padding: 6px 0;
                                transition: all 1s;
                                &:hover {
                                    color: $color-pink-0;
                                }
                            }
                        }
                    }
                }
            }
            .col-download-application {
                p {
                    width: 90%;
                    margin-bottom: 12px;
                    @include text($color-white-0, $fs-0, $fw-medium);
                }
                .application {
                    width: 60%;
                    margin-bottom: 14px;
                    a {
                        img {
                            max-width: 100%;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}